<ul  data-sly-use.nav="topnav.js" class="nav navbar-nav" data-sly-list.child="${nav}">
    <li data-sly-test='${!childList.last}'><a id="nav${child.class1}" href='${child.path}' onclick="stm_clicki('send', 'event', '主菜单', '点击', 'channel')">${child.name}</a></li>
	<li data-sly-test="${childList.last}" class="searchButton"><a><i class="icon-11icon4-01"></i>搜索</a></li>
</ul>