
/* widgets */
#CQ .webtv-multiwidget-label {
    width:auto ! important;
    display:block;
    font-size:10px;
    color:#000;
    margin-left: 5px;
    margin-top:8px;
    margin-right:5px;
    padding-bottom:5px;
}

#CQ .webtv-multiwidget-label-2{
    width:auto ! important;
    display:block;
    font-size:10px;
    color:#000;
    margin-left: 10px;
    margin-top:8px;
    margin-right:5px;
    padding-bottom:5px;
}

#CQ .webtv-multiwidget-sel {
    width:100px;
    margin-top:3px;
    margin-right:10px;
}

#CQ .webtv-multiwidget-text {
    width:100px;
    margin-right:10px !important;
}


#CQ .webtv-multiwidget-path {
    width:240px;
    margin-top:0px;
    margin-right:0px;
}

/* carousel css */

#CQ .webtv-multiwidget-checkbox {
	width: 30px;
	margin-top: 8px;
}


/* image group */
#CQ .webtv-multiwidget-text-280 {
    width:280px;
    margin-right:10px;
}

/* portal images*/
#CQ .webtv-multiwidget-path-260 {
    width:260px;
    margin-top:0px;
    margin-right:0px;
}

/* model list*/
#CQ .webtv-multiwidget-path-160 {
    width:160px;
    margin-top:0px;
    margin-right:0px;
    margin-left:5px;
}

#CQ .webtv-multiwidget-width-600{
    width:600px;
	margin-top:0px;
    margin-right:0px;
    margin-left:5px;
}
