<ul data-sly-use.foot="footLinks.js" data-sly-list.child="${foot}">
    <sly data-sly-test='${childList.first && childList.last}'>Add Links</sly>
    <li data-sly-test='${childList.first}' class="link-tit"><span>${child.name}</span></li>
    <li data-sly-test='${!childList.first}'><a href='${child.url}'>${child.name}</a></li>
</ul>