<div data-sly-resource="${ @path='headerPar', resourceType='bmw-webtv/parComponent/iparsys'}"/>
<script type="text/javascript" src="http://player.youku.com/jsapi"></script>
<sly data-sly-include="content.html" data-sly-unwrap/>

<sly data-sly-include="footer.html" data-sly-unwrap/>
