<!--/*

  ADOBE CONFIDENTIAL
  __________________

   Copyright 2014 Adobe Systems Incorporated
   All Rights Reserved.

  NOTICE:  All information contained herein is, and remains
  the property of Adobe Systems Incorporated and its suppliers,
  if any.  The intellectual and technical concepts contained
  herein are proprietary to Adobe Systems Incorporated and its
  suppliers and are protected by trade secret or copyright law.
  Dissemination of this information or reproduction of this material
  is strictly forbidden unless prior written permission is obtained
  from Adobe Systems Incorporated.
  
  Includes the script and css in the head tag
*/-->
<template data-sly-template.headlibs="${@ designPath}"
          data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"
          data-sly-use.head="${'/libs/wcm/foundation/components/page/headlibs.js' @ designPath=designPath}">
    <link data-sly-test="${head.staticDesign}" href="${head.staticDesign}" rel="stylesheet" type="text/css" />
    <sly data-sly-call="${clientLib.all @ categories='bmw.webtv.global'}" />
</template>
