<!--/*

  ADOBE CONFIDENTIAL
  __________________

   Copyright 2014 Adobe Systems Incorporated
   All Rights Reserved.

  NOTICE:  All information contained herein is, and remains
  the property of Adobe Systems Incorporated and its suppliers,
  if any.  The intellectual and technical concepts contained
  herein are proprietary to Adobe Systems Incorporated and its
  suppliers and are protected by trade secret or copyright law.
  Dissemination of this information or reproduction of this material
  is strictly forbidden unless prior written permission is obtained
  from Adobe Systems Incorporated.
  
  Renders the head markup of a sightly page
*/-->
<head data-sly-use.head="/libs/wcm/foundation/components/page/head.js"
      data-sly-use.headlibRenderer="headlibs.html"
      data-sly-use.wcmInit="/libs/wcm/foundation/components/page/initwcm.js"
      data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="${head.keywords}">
    <meta name="description" content="${head.description}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--/* Outputs the WCM initialization code.If WCM mode is disabled nothing is rendered */-->
    <meta data-sly-test="${!wcmmode.disabled && wcmInit.isTouchAuthoring}" data-sly-call="${clientLib.all @ categories='cq.authoring.page'}" data-sly-unwrap></meta>
    <meta data-sly-test="${!wcmmode.disabled && !wcmInit.isTouchAuthoring}" data-sly-call="${clientLib.all @ categories='cq.wcm.edit'}" data-sly-unwrap></meta>
    <meta data-sly-call="${headlibRenderer.headlibs @ designPath=head.designPath}" data-sly-unwrap></meta>
    <script data-sly-test="${!wcmmode.disabled && !wcmInit.isTouchAuthoring}" type="text/javascript">
        (function() {

            var cfg = ${wcmInit.undoConfig @ context='unsafe'};
            cfg.pagePath = "${currentPage.path @ context='uri'}";

            if (CQClientLibraryManager.channelCB() != "touch") {
                cfg.enabled = ${wcmmode.edit @ context="scriptString"};
                CQ.undo.UndoManager.initialize(cfg);
                CQ.Ext.onReady(function() {
                    CQ.undo.UndoManager.detectCachedPage((new Date()).getTime());
                });
            }
        })();

        CQ.WCM.launchSidekick("${currentPage.path @ context='uri'}", {
            propsDialog: "${wcmInit.dialogPath @ context='uri'}",
            locked: ${currentPage.locked @ context="scriptString"}
        });
    </script>
    <!--/* WCM initialization code end */-->
    <!--/* Support for page view statistics and MVT start */-->
    
    <!--/* Support for page view statistics and MVT end */-->
    <link rel="icon" type="/libs/wcm/foundation/components/page/image/vnd.microsoft.icon" href="${head.faviconPath}">
    <link rel="shortcut icon" type="/libs/wcm/foundation/components/page/image/vnd.microsoft.icon" href="${head.faviconPath}">
    <title>${head.title}</title>
    <script>
	(function(a, e, f, g, b, c, d) {a.ClickiTrackerName = b;
	a[b] = a[b] || function() {(a[b].queue = a[b].queue || []).push(arguments)};
	a[b].start = +new Date; c = e.createElement(f); d = e.getElementsByTagName(f)[0];
	c.async = 1; c.src = g; d.parentNode.insertBefore(c, d)
	})(window, document, 'script', ('https:' == document.location.protocol ? 'https://stm-collect' : 'http://stm-cdn') + '.cn.miaozhen.com/clicki.min.js', 'stm_clicki');
	stm_clicki('create', 'dc-552', 'auto');
	stm_clicki('send', 'pageview');
	</script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>