<style type="text/css">
    .footer .somelinks ul .link-tit span{font-size:15px;line-height:6rem}
	.footer .somelinks li span{font-size:15px;height:3.5rem;line-height:3.5rem;font-weight:lighter}
	.footer .somelinks li span{color:#fff;height:45px;line-height:45px;font-size:1.5rem}
	.footer .somelinks ul .link-tit span{font-size:1.5rem;width:14%;font-weight:700;line-height:45px;}
</style>
<ul data-sly-use.nav="footnav.js" data-sly-list.child="${nav}">
    <li data-sly-test='${childList.first}' class="link-tit"><span>快速链接</span></li>
    <li data-sly-test='${!childList.first}'><a href='${child.path}' onclick="stm_clicki('send', 'event', '主菜单', '点击', 'channel')">${child.name}</a></li>
</ul>