<div data-sly-resource="${ @path='carousel', resourceType='bmw-webtv/parComponent/carouselteaser'}"></div>
<div data-sly-resource="${ @path='firstvideo', resourceType='bmw-webtv/parComponent/videoitems'}"></div>
<div data-sly-resource="${ @path='twovideo', resourceType='bmw-webtv/parComponent/videoitems'}"></div>
<div data-sly-resource="${ @path='threevideo', resourceType='bmw-webtv/parComponent/videoitems'}"></div>