<sly data-sly-use.video="logic.js">
    <sly data-sly-test="${!video[6]}">
<sly data-sly-test="${video[3]}">
 		<sly data-sly-test="${video[3] =='4'}"><section data-sly-include="/apps/bmw-webtv/parComponent/videoitems/videoOne.html"></section></sly>
        <sly data-sly-test="${video[3] =='3'}"><section data-sly-include="/apps/bmw-webtv/parComponent/videoitems/videoTwo.html"></section></sly>

</sly>

<sly data-sly-test="${!video[3]}">		
    <sly data-sly-test="${video[6]}"><section data-sly-include="/apps/bmw-webtv/parComponent/videoitems/video.html"></section></sly>
     <sly data-sly-test="${!video[6] }">edit</sly>
</sly>
</sly>
<sly data-sly-test="${video[6]}"><section data-sly-include="/apps/bmw-webtv/parComponent/videoitems/video.html"></section></sly>
</sly>

<div data-sly-use.plaConfig="${'com.bmw.digitalcn.aems2.sightly.RewriterConfig'}" data-sly-unwrap>
	<input type="hidden" id="shortenBase" value="${plaConfig.shortenBase}"/>
	<input type="hidden" id="shortenMapper" value="${plaConfig.rewriteMapper}"/>
</div>