    <div class="SA-sercice CAR-intro SA-littleSc littleSc "  data-sly-use.video="logic.js">
        <div class="CAR-title littleSc-tit">
            <h2 class="car-tit littlesc-tit mycartest ${video[4]}" >${video[10]}</h2>
            <a class="car-more littlesc-more" href="${video[8]}.class1=${video[0]}.class2=${video[1]}.class3=${video[2]}.html" onclick = "stm_clicki('send', 'event', '视频', '更多视频', 'channel')">更多视频<i class="icon-11icon9-01"></i></a>
        </div>
        <div class="intro23 intro8 littleSc-intro">
           <ul  class="ulist " id="${video[0]},${video[1]},${video[2]},${video[3]},${video[4]},${video[5]},${video[7]}">

        </div>
    </div>