<div class="OW-trainng OW-littleSc littleSc" data-sly-use.video="logic.js">
        <div class="OW-title littleSc-tit">
            <h2 class="ow-tit littlesc-tit ${video[4]} mycartest" >${video[10]}</h2>
            <a class="ow-more littlesc-more" href="${video[8]}.class1=${video[0]}.class2=${video[1]}.class3=${video[2]}.html" onclick = "stm_clicki('send', 'event', '视频', '更多视频', 'channel')">更多视频<i class="icon-11icon9-01"></i></a>
        </div> 
        <div class="left-1 card-item no-littleScren">
            <a data-sly-unwrap="${!properties.linkto}" href="${properties.linkto}" target="_blank" id="linkwraped">
                <img src="${video[9]}">
            </a>
            <div class="controlBar" style = "display:none">
                <button class="icon-11icon1"></button>
                <p>${properties.title}</p>
                <span id="view-count"><i class="icon-11icon2-01"></i></span>
            </div>
        </div>
         <div class="right-4 card-item littleSc-intro">
            <ul class="ulists" id="${video[0]},${video[1]},${video[2]},${video[3]},${video[4]},${video[7]}"> 
            </ul>

        </div>
    </div>


<!--<script>
    $(document).ready(function(){
        var linkElement = $("#linkwraped");
        if(linkElement){
            var url = linkElement.attr('href');

            if(url){
            	var videoId =  url.substring(url.indexOf('video_id=')+9 , url.indexOf('&class1num'));
                var newUrl = $('#apiRoot').text()+'/getVideoInfo?vid='+videoId;
                $.ajax({
                    url:newUrl,
                    async:false,
                    type:"get",
                    dataType:"jsonp",
                    jsonp: "callbackparam",
                    jsonpCallback: "CALLBACK",
                    success:function(response) {
                        var data = response.responseBody;
                       $("#view-count").html('<i class="icon-11icon2-01"></i>'+data.video_view);
                    }
                 });
            }else{
                $("#view-count").hide();
            }
		}
     });
</script>-->