/*!
 *
 *  BMW pages.css | v0.0.1
 *  Copyright 2016 ACN Inc. All rights reserved.
 *  
 *  @Author：ACN team @Date: 2016-06-20
 *  
 */

body,
h1,
h2,
p,
ul {
    margin: 0
}
button,
img {
    border: none
}
.navbar .navbar-collapse,
body,
button,
ul {
    padding: 0
}
.clearfix:after,
ul {
    clear: both
}
.footer .somelinks li a:focus,
a,
a:hover {
    text-decoration: none
}
html {
    font-size: 62.5%
}
body {
    font-family: "Microsoft Yahei", 微软雅黑;
    background-color: #fff
}
*,
:after,
:before {
    box-sizing: border-box
}
ul {
    list-style: none;
    overflow: hidden
}
a {
    cursor: pointer
}
button {
    background: 0 0;
    outline: 0
}
.navbar,
input,
input:focus {
    border-radius: 0
}
input:focus {
    outline: 0;
    border-color: none;
    box-shadow: none
}
.clearfix:after,
.clearfix:before {
    content: " ";
    display: table
}
.navigationDiv {
    width: 100%;
    background: #8e8e8e
}
.navbar {
    width: 100%
}
.navbar .navbar-collapse .nav {
    width: 90%
}
.navbar .navbar-collapse .nav li:first-child {
    width: 6%;
    min-width: 40px
}
.navbar-inverse .navbar-nav li a:first-child {
    padding-left: 0
}
.navbar-inverse .navbar-nav .searchButton i {
    vertical-align: -2px;
    margin-right: 5px
}
.navbar-inverse .navbar-nav .searchButton:hover i {
    color: #0653b6
}
.navbar-inverse .container {
    position: relative
}
.container .navbar-logo {
    position: absolute;
    right: 15px;
    top: 0;
    z-index: 100
}
@media (min-width: 992px) {
    .navbar-nav>li>a {
        height: 90px;
        line-height: 90px
    }
}



.container .navbar-logo img {
    right: 20px;
    width: 103px
}
@media screen and (max-width: 980px) {
    .bannerControls,
    .nav li:last-child {
        display: none
    }
    .container .navbar-header button {
        font-size: 2.5rem
    }

    .container .navbar-logo img:last-child {
        margin-left: 2px
    }
}
@media screen and (max-width: 520px) {
    .container .navbar-logo img {
        right: 10px;
        width: 74px
    }

}
.navigation {
    margin: 0 auto;
    width: 100%;
    clear: both;
    height: 10rem;
    padding: 0 15px;
    max-width: 1200px
}
.detailpage-navigation {
    padding: 0
}
.CAR-intro,
.OW-trainng {
    padding: 0 15px;
    overflow: hidden;
    clear: both
}
.navigation .littleScren-only {
    margin: 0 10px
}
.navigation .littleScren-only button {
    width: 4rem;
    font-size: 3.5rem;
    height: 10rem;
    line-height: 10rem
}
.navigation .littleScren-only .b2 {
    margin-left: 15px
}
.navigation .littleScren-only .b2right {
    float: right
}
.container p,
.navigation .littleScren-only p {
    font-size: 2.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50px;
    font-weight: 700
}
.navigation .modu-names {
    float: left;
    width: 50%;
    height: 10rem;
    line-height: 10rem
}
.navigation .modu-names li {
    float: left;
    width: 20%
}
.navigation .modu-names li:nth-child(2) {
    margin-left: -8%
}
.navigation .modu-names li:hover a {
    color: #0653b6
}
.navigation .modu-names li a {
    color: #fff;
    font-size: 1.8rem
}
.navigation .search {
    height: 10rem;
    line-height: 10rem;
    width: 20%;
    float: right
}
.navigation .search input {
    width: 95%;
    height: 4rem;
    position: relative
}
.navigation .search button {
    color: #8e8e8e;
    margin-left: -4rem;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    position: relative;
    top: 6px;
    right: 4px
}
.navigation .logo {
    float: right
}
.navigation .logo img {
    width: 100%;
    max-width: 92px;
    float: left;
    margin-left: 5px
}
.YK-play,
.YK-play .back-play {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px
}
.YK-play {
    background: #000;
    position: relative;
    clear: both
}
.YK-play .back-play li {
    float: left;
    width: 50%;
    margin-top: 120px;
    margin-bottom: 120px
}
.YK-play .back-play li img {
    width: 100%
}
.YK-play .line-play {
    clear: both;
    position: relative
}
.YK-play .line-play .line {
    height: 5px;
    border: none;
    border-top: 5px;
    width: 100%;
    color: rgba(255, 255, 255, .35);
    background: rgba(255, 255, 255, .35);
    position: absolute;
    left: 0;
    bottom: 20px
}
.YK-play .line-play .shortline {
    height: 5px;
    border: none;
    border-top: 5px;
    width: 200px;
    color: #1978d6;
    background: #1978d6;
    position: absolute;
    left: 0;
    bottom: 20px
}
.YK-play .gray {
    height: 100%;
    width: 100%;
    background-color: #262626;
    position: absolute;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: 10
}
.font-play {
    width: 80%;
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -40%;
    z-index: 20
}
.font-play .bt-left,
.font-play .bt-right {
    display: inline-block;
    top: 50%;
    margin-top: -30px;
    font-size: 2.4rem;
    position: absolute
}
.font-play button {
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, .2);
    border: none
}
.font-play .bt-left {
    left: -10%
}
.font-play .bt-right {
    right: -10%
}
.font-play .video-font-play {
    width: 100%;
    max-width: 946px
}
.font-play .gray-little {
    background: rgba(38, 38, 38, .3);
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 2px;
    left: 0;
    text-align: center;
    line-height: 60px
}
.font-play .gray-little p {
    font-weight: 700;
    font-size: 2.5rem;
    color: #fff
}
.OW-trainng {
    margin: 90px auto 0;
    width: 100%;
    max-width: 1200px
}
.OW-trainng .OW-title {
    height: 35px;
    line-height: 35px
}
.OW-trainng .ow-tit {
    clear: both;
    font-size: 2.3rem;
    color: #262626;
    font-weight: 700;
    float: left
}
.OW-trainng .ow-more {
    float: right;
    font-size: 1.8rem;
    font-weight: 700;
    color: #666;
    position: relative;
    margin-right: 20px
}
.OW-trainng .ow-more i {
    color: #666;
    margin-left: 1rem;
    position: absolute;
    top: 11px;
    right: -20px
}
.OW-trainng .left-1 {
    float: left;
    width: 48.7%;
    position: relative;
    margin-top: 30px
}
.OW-trainng .left-1 img {
    width: 100%;
    height: 100%
}
.OW-trainng .left-1 .controlBar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: rgba(0, 0, 0, .4)
}
.OW-trainng .right-4 li .picandsha,
.OW-trainng .right-4 li .sap {
    position: relative;
    display: block
}
.OW-trainng .left-1 .controlBar button {
    float: left;
    margin-left: 20px;
    font-size: 2.4rem;
    height: 60px
}
.OW-trainng .left-1 .controlBar p {
    float: left;
    margin-left: 15px;
    font-size: 2.5rem;
    color: #fff
}
.OW-trainng .left-1 .controlBar span {
    float: right;
    margin-right: 20px;
    font-size: 1.4rem;
    color: #fff;
    height: 60px;
    line-height: 60px
}
.OW-trainng .left-1 .controlBar span i {
    font-size: 1.6rem;
    vertical-align: -1px;
    margin-right: 10px
}
.OW-trainng .right-4 {
    float: right;
    width: 51.3%;
    margin-top: 30px
}
.OW-trainng .right-4 li {
    float: left;
    width: 45%;
    margin-left: 5%
}
.OW-trainng .right-4 li .sap:hover .shadow-r4,
.OW-trainng .right-4 li .sap:hover p {
    display: block
}
.OW-trainng .right-4 li img {
    width: 100%;
    height: 100%;
    max-width: 100%
}
.OW-trainng .right-4 li .shadow-r4 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    display: none
}
.OW-trainng .right-4 li .shadow-r4 img {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    margin-top: -17.5px;
    left: 50%;
    margin-left: -17.5px
}
.OW-trainng .right-4 li .sap p {
    position: absolute;
    right: 5px;
    bottom: 48px;
    color: #fff;
    font-size: 1.4rem;
    display: none
}
.OW-trainng .right-4 li .sap p i {
    font-size: 16px;
    vertical-align: -2px;
    margin-right: 10px
}
@media screen and (max-width: 520px) {
    .OW-trainng .right-4 li .sap p i {
        font-size: 13px;
        margin-right: 8px
    }
}
.CAR-intro .intro8 li a,
.OW-trainng .right-4 li a {
    font-size: 1.5rem;
    color: #666;
    margin-top: 5px;
    display: block;
    overflow: hidden;
    height: 43px
}
.OW-trainng .right-4 li a:hover {
    color: #0653b6
}
.OW-trainng .right-4 li:nth-child(-1n+2) {
    margin-bottom: 25px
}
@media screen and (max-width: 980px) {
    .OW-trainng .right-4 li:first-child,
    .OW-trainng .right-4 li:nth-child(2) {
        margin-bottom: 20px
    }
    .OW-trainng .right-4 li .sap:hover .shadow-r4 {
        display: none
    }
    .OW-trainng .right-4 li .sap p {
        position: static;
        display: block;
        font-size: 13px;
        color: #bbb;
        margin-top: 5px
    }
}
.CAR-intro {
    margin: 60px auto 0;
    width: 100%;
    max-width: 1200px
}
.CAR-intro .CAR-title {
    height: 35px;
    line-height: 35px
}
.CAR-intro .car-tit {
    clear: both;
    font-size: 2.3rem;
    color: #262626;
    font-weight: 700;
    float: left
}
.CAR-intro .car-more {
    float: right;
    font-size: 1.8rem;
    font-weight: 700;
    color: #666;
    position: relative;
    margin-right: 20px
}
.CAR-intro .car-more i {
    color: #666;
    margin-left: 1rem;
    position: absolute;
    top: 11px;
    right: -20px
}
.CAR-intro .intro8 li .picandsha,
.CAR-intro .intro8 li .sap {
    position: relative;
    display: block
}
.CAR-intro .intro8 {
    float: right;
    width: 100%;
    margin-top: 15px
}
.CAR-intro .intro8 li {
    float: left;
    width: 23%;
    margin-left: 2.6%
}
.CAR-intro .intro8 li img {
    width: 100%;
    max-width: 100%
}
.CAR-intro .intro8 li .shadow-intro {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    display: none
}
.footer,
.footerDiv {
    background: #8e8e8e
}
.CAR-intro .intro8 li .sap:hover .shadow-intro,
.CAR-intro .intro8 li .sap:hover p {
    display: block
}
.CAR-intro .intro8 li .shadow-intro img {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    margin-top: -17.5px;
    left: 50%;
    margin-left: -17.5px
}
.CAR-intro .intro8 li p {
    position: absolute;
    right: 10px;
    bottom: 48px;
    color: #fff;
    font-size: 1.4rem;
    display: none
}
.CAR-intro .intro8 li p i {
    font-size: 16px;
    vertical-align: -1px;
    margin-right: 10px
}
.CAR-intro .intro8 li a:hover {
    color: #0653b6
}
.CAR-intro .intro8 li:nth-child(n+9) {
    display: none
}
.search-result.CAR-intro .intro8 li:nth-child(n),
.tabsViewbottom.CAR-intro .intro8 li:nth-child(n) {
    display: block
}
@media screen and (max-width: 980px) {
    .CAR-intro .intro8 li .sap:hover .shadow-intro {
        display: none
    }
    .CAR-intro .intro8 li p {
        position: static;
        display: block;
        font-size: 1.5rem;
        color: #bbb;
        margin-top: 10px
    }
    .CAR-intro .intro8 li:nth-child(n+5) {
        display: none
    }
    .search-result .intro8 li:nth-child(n),
    .tabsViewbottom .intro8 li:nth-child(n) {
        display: block
    }
}
.SA-sercice {
    margin-top: 45px
}
.SA-sercice .intro8 .intro8-content {
    width: 100%
}
.SA-sercice .intro8 .intro8-content li,
.SA-sercice .intro8 li {
    width: 32%;
    margin-left: 2%;
    margin-bottom: 15px
}
.SA-sercice .intro8 li .shadow-intro img {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    margin-top: -22.5px;
    left: 50%;
    margin-left: -22.5px
}
.footerDiv {
    width: 100%
}
.footer {
    width: 100%;
    margin: 60px auto 0;
    padding: 60px 15px;
    position: relative;
    max-width: 1200px
}
.footer .somelinks {
    width: 80%;
    float: left;
    padding: 0;
    min-height: 110px
}
.footer .somelinks ul li {
    float: left;
    width: 14%
}
.footer .somelinks li a {
    color: #fff;
    height: 45px;
    line-height: 45px;
    font-size: 1.5rem
}
.footer .somelinks li a:hover,
.footer .thirdparty a:hover {
    color: #0653b6
}
.footer .somelinks ul .link-tit a {
    font-size: 1.5rem;
    width: 14%;
    font-weight: 700;
    cursor: default
}
.footer .somelinks ul .link-tit a:hover {
    color: #fff
}
.footer .somelinks ul .link-long {
    width: 18%
}
.footer .QRcode {
    width: 285px;
    position: absolute;
    right: 0
}
.footer .QRcode li {
    float: left;
    width: 120px
}
.footer .QRcode .qr2 {
    margin-left: 30px
}
.footer .QRcode li img {
    width: 100%;
    width: 120px
}
.footer .QRcode li p {
    color: #fefefe;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    white-space: nowrap
}
.footer .thirdparty {
    padding-top: 15px;
    width: 100%;
    float: left;
    display: none
}
.footer .thirdparty a {
    float: left;
    margin-right: 15px;
    color: #fff;
    font-size: 15px;
    margin-bottom: 15px
}
.footer .thirdparty .icon {
    background-image: url(../images/share.png);
    float: left;
    margin-right: 5px;
    margin-top: 2px
}
.footer .thirdparty .icon-wechat {
    width: 23px;
    height: 18px;
    background-position: -53px 0
}
.footer .thirdparty .icon-sina {
    width: 22px;
    height: 18px;
    background-position: -104px 0
}
@media screen and (min-width: 980px) {
    .navigation .littleScren-only,
    .no-wideScren {
        display: none
    }
    .CAR-intro .intro23 li:nth-child(3n+1),
    .CAR-intro .intro24 li:nth-child(4n+1) {
        margin-left: 0
    }
    .CAR-intro .intro8 .indexPage li,
    .relatedvideo .intro24 li {
        margin-bottom: 15px
    }
}
@media screen and (max-width: 980px) {
    .navigation {
        height: 6rem;
        position: relative;
        padding: 0
    }
    .navigation .logo-littlepage {
        float: right;
        position: absolute;
        top: 0;
        right: 20px;
        z-index: 100
    }
    .navigation .littleScren-only button {
        height: 6rem;
        line-height: 6rem;
        font-size: 3.5rem
    }
    .no-littleScren {
        display: none
    }
    .logo_index {
        display: block
    }
    .font-play {
        width: 100%;
        position: static;
        margin: auto;
        z-index: normal;
        margin-left: none
    }
    .YK-play {
        background: 0 0
    }
    .YK-play .line-play {
        margin-top: 40px
    }
    .YK-play .bt-right {
        display: none
    }
    .OW-trainng {
        margin-top: 60px
    }
    .littleSc {
        margin: 30px auto 0;
        width: 100%;
        padding: 0 10px;
        clear: both;
        overflow: hidden
    }
    .littleSc .littleSc-tit {
        height: 35px;
        line-height: 35px
    }
    .littleSc .littlesc-tit {
        clear: both;
        font-size: 20px;
        color: #262626;
        font-weight: 700;
        float: left
    }
    .littleSc .littlesc-more {
        float: right;
        font-size: 1.7rem;
        font-weight: 700;
        color: #666
    }
    .littleSc .littlesc-more i {
        color: #666;
        margin-left: .5rem;
        vertical-align: -2px
    }
    .littleSc .littleSc-intro {
        float: right;
        width: 100%;
        margin-top: 12px
    }
    .littleSc .littleSc-intro li {
        float: left;
        width: 49%;
        margin-left: 2%;
        margin-bottom: 20px
    }
    .SA-sercice .intro8 .intro8-content li,
    .SA-sercice .intro8 li {
        margin-bottom: 20px
    }
    .littleSc .littleSc-intro li img {
        width: 100%;
        height: 100%;
        max-width: 100%
    }
    .littleSc .littleSc-intro li a {
        font-size: 1.3rem;
        color: #666;
        margin-top: 10px;
        display: block;
        height: 35px;
        overflow: hidden;
        text-overflow: ellipsis
    }
    .littleSc .littleSc-intro li a:hover {
        color: #0653b6
    }
    .littleSc .littleSc-intro li p {
        font-size: 13px;
        color: #bbb;
        margin-top: 5px
    }
    .littleSc .littleSc-intro li p i {
        color: #bbb;
        vertical-align: -2px
    }
    .littleSc .littleSc-intro ul li:nth-child(2n+1) {
        margin-left: 0
    }
    .footer {
        padding: 30px 20px
    }
    .footer .somelinks {
        width: 100%
    }
    .footer .somelinks ul li {
        width: 25%;
        min-width: 90px
    }
    .footer .somelinks ul .link-tit {
        width: 100%;
        margin-top: 60px
    }
    .footer .somelinks ul .link-tit:first-child {
        margin-top: 0
    }
    .footer .somelinks li a {
        font-size: 15px;
        height: 3.5rem;
        line-height: 3.5rem;
        font-weight: lighter
    }
    .footer .somelinks ul .link-tit a {
        font-size: 15px;
        line-height: 6rem
    }
    .footer .somelinks ul .link-long {
        min-width: 135px
    }
    .footer .QRcode {
        width: 100%;
        position: static;
        clear: both;
        padding-top: 3rem
    }
    .footer .QRcode .qr2 {
        margin-left: 8%
    }
    .footer .QRcode li p {
        margin-top: 2rem
    }
}
@media screen and (max-width: 540px) {
    .littleSc .littlesc-tit {
        font-size: 18px
    }
    .littleSc .littleSc-intro li a {
        font-size: 13px
    }
}
.searchforresult {
    width: 100%;
    padding: 0 15px;
    clear: both;
    overflow: hidden;
    margin: 30px auto;
    display: none;
    max-width: 1200px
}
.searchforresult input {
    width: 75%;
    height: 4rem;
    -webkit-appearance: none;
    padding: 0 10px;
    border: 1px solid #a9a9a9
}
.searchforresult button {
    color: #8e8e8e;
    margin-left: -5rem;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    position: relative;
    top: 3px;
    right: 0
}
.searchforresult .seachClose {
    margin-left: 5%
}
.search-return,
.search-return a {
    color: #666;
    font-size: 1.5rem;
    font-weight: 700
}
.search-return,
.search-return a i {
    color: #666;
    margin-right: 10px;
    vertical-align: -2px;
    font-weight: 400
}
.search-return,
.search-return4detailpage {
    width: 100%;
    margin: 3rem auto 0;
    max-width: 1200px;
    padding: 0 15px;
    clear: both
}
.search-return,
.search-return4detailpage a,
.search-return4detailpage a i {
    color: #666;
    font-size: 1.5rem
}
.search-loadmore {
    width: 100%;
    padding: 15px 0;
    height: 40px;
    margin: 15px auto -15px;
    position: relative;
    max-width: 1200px
}
.search-loadmore hr {
    width: 45%;
    max-width: 530px;
    height: 4px;
    background: #e6e6e6;
    border: none
}
.search-loadmore .loadline1 {
    float: left
}
.search-loadmore .loadline2 {
    float: right
}
.search-loadmore .buttonmore {
    width: 18%;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -9%
}
.search-loadmore a {
    display: block;
    color: #666;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    height: 40px;
    line-height: 40px
}
@media screen and (max-width: 980px) {
    .search-return {
        padding: 0 20px
    }
    .search-loadmore .buttonmore {
        width: 120px;
        margin-left: -60px
    }
    .search-loadmore a {
        color: #666;
        background: #fff;
        font-size: 2.2rem
    }
}
.detail-video {
    width: 100%;
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden
}
.detail-video .video-tit,
.video-tit4detailpage {
    clear: both;
    font-size: 2.3rem;
    color: #262626;
    font-weight: 700;
    padding-bottom: 30px
}
.detail-video .youkuvideo .tv-play {
    width: 100%;
    max-width: 1170px
}
.detail-video .youkufn {
    margin-top: 20px;
    clear: both
}
.detail-video .youkufn p {
    font-size: 1.4rem;
    color: #666;
    float: left;
    height: 2.4rem;
    line-height: 2.4rem
}
.detail-video .youkufn .playtimes {
    margin: 0 30px 0 0
}
.detail-video .youkufn a {
    color: #666;
    font-size: 2.4rem;
    float: left;
    margin-left: 15px
}
.detail-video .youkufn a:last-child {
    font-size: 2.3rem
}
.detail-video .youkufn a:hover {
    color: #0653b6
}
.footer-detailPage,
.relatedvideo {
    margin-top: 60px
}
.search-return {
    margin-top: 1rem
}
.detail-video,
.search-result {
    margin-top: 15px
}
.detail-video .video-tit {
    padding-bottom: 15px
}
@media screen and (max-width: 980px) {
    .container .searchButtonStyle2,
    .detailpage-navigation .littleScren-only .b2 {
        margin-left: 60px;
        float: right
    }
    .detail-video {
        padding: 0;
        max-width: 1200px;
        margin-top: 0
    }
    .video-tit4detailpage {
        border-bottom: 1px solid #e6e6e6;
        width: 100%;
        padding: 15px
    }
    .detail-video .youkuvideo .tv-play {
        padding-bottom: 0
    }
    .detail-video .youkufn {
        width: 100%;
        height: 4.5rem;
        margin-top: 0;
        padding: 15px
    }
    .detail-video .youkufn p {
        font-size: 1.7rem;
        color: #bbb;
        height: 4.5rem;
        line-height: 4.5rem
    }
    .detail-video .youkufn .share {
        height: 4.5rem;
        width: 290px;
        line-height: 4.5rem;
        float: right
    }
    .detail-video .youkufn a {
        font-size: 2rem;
        margin-left: 3%;
        height: 4.5rem;
        line-height: 4.5rem
    }
    .detail-video .youkufn a:last-child {
        font-size: 1.9rem
    }
    .search-return4detailpage {
        margin-top: 4%;
        text-align: center;
        display: none
    }
    .search-return4detailpage .icon-11icon8-01 {
        float: left;
        color: #666;
        font-size: 20px;
        display: block
    }
    .search-return4detailpage a {
        font-weight: 700;
        font-size: 15px;
        float: left;
        display: block;
        text-align: center
    }
    .detailpage-littleSc {
        margin-top: 4%
    }
}
@media screen and (max-width: 500px) {
    .detail-video .youkufn .share {
        width: 155px
    }
    .detail-video .youkufn .playtimes {
        margin: 0
    }
    .detail-video .youkufn a {
        margin-left: 5px
    }
    .video-tit4detailpage {
        font-size: 2rem
    }
}
.tabsNav {
    width: 100%;
    padding: 0 15px;
    max-width: 1200px;
    margin: 30px auto
}
.tabsNav .nav-type .wrapper {
    border-bottom: #e6e6e6 2px solid;
    position: relative;
    height: 5.5rem;
    line-height: 5.5rem;
    overflow: hidden
}
.tabsNav .nav-type .wrapper ul {
    overflow: hidden
}
.tabsNav .nav-type .wrapper li {
    width: 20%;
    float: left;
    height: 3.5rem;
    line-height: 3.5rem;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 10px;
    min-width: 130px
}
.tabsNav .nav-type .wrapper li:hover a {
    color: #0653b6
}
.tabsNav .nav-type .wrapper .nav-plus {
    width: 25px;
    float: right;
    position: absolute;
    top: -10px;
    right: 0
}
.tabsNav .nav-type .wrapper .nav-minus {
    display: none
}
.tabsNav .nav-type .wrapper .nav-plus a {
    font-size: 2.4rem;
    color: #262626
}
.tabsNav .nav-type .wrapper li a {
    text-decoration: none;
    font-size: 1.8rem;
    color: #262626;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    display: block;
    width: 100%;
    overflow: hidden
}
.tabsNav .nav-type .nav-plus {
    height: 43px;
    width: 50px;
    font-size: 2.4rem;
    float: right;
    color: #262626
}
.tabsNav .nav-label {
    margin-top: 30px;
    position: relative
}
.tabsNav .nav-label li {
    float: left
}
.tabsNav .nav-label .labelcell {
    font-size: 1.5rem;
    color: #666;
    float: left;
    display: block;
    margin-right: 3rem
}
.tabsNav .nav-label .labelcell:hover {
    color: #0653b6
}
.tabsNav .nav-label .dropBtn {
    margin-left: 0
}
.tabsNav .nav-label .dropMenu {
    width: 300px;
    background: #f9f9f9;
    z-index: 3;
    position: absolute;
    top: 30px;
    left: 0
}
.tabsNav .nav-label .dropMenu ul {
    overflow: hidden
}
.tabsNav .nav-label .dropMenu li {
    width: 100%;
    float: left;
    text-align: center;
    height: 4rem;
    line-height: 4rem;
    border-bottom: 1px solid #e6e6e6
}
.tabsNav .nav-label .dropMenu a {
    font-size: 1.8rem;
    color: #666;
    display: block
}
.tabsNav .nav-label .dropMenu a:hover {
    color: #0653b6
}
.tabsNav .nav-label .carList {
    margin-right: 3rem
}
@media screen and (max-width: 520px) {
    .tabsNav .nav-label .carList-li {
        width: 100%
    }
    .tabsNav .nav-label .carList {
        width: 100%;
        margin-bottom: 10px
    }
    .footer .QRcode {
        display: none
    }
    .footer .thirdparty {
        display: block
    }
}
.tabsViewup {
    margin-top: 60px
}
.tabsViewup .intro8 {
    float: left;
    width: 66%;
    margin-top: 0
}
.tabsViewup .intro8 li {
    width: 48.5%;
    margin-left: 3%
}
.tabsViewup .intro8 li:first-child {
    margin-left: 0
}
.tabsViewup .intro8 .intro8-content li {
    width: 48.5%;
    margin-left: 3%;
    margin-bottom: 0
}
.tabsViewup .intro8 .intro8-content li:first-child {
    margin-left: 0
}
.tabsViewup .left-1 {
    float: right;
    width: 32%;
    margin-left: 2%;
    position: relative
}
.tabsViewup .left-1 img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%
}
.tabsViewup .left-1 .controlBar {
    position: absolute;
    left: 0;
    bottom: 3px;
    height: 35px
}
.tabsViewup .left-1 .controlBar p {
    height: 35px;
    line-height: 35px;
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    margin-left: 2rem
}
.modalVideo,
.modalVideo .video {
    height: 100%;
    top: 0;
    width: 100%;
    position: absolute;
    background: #000
}
.tabsViewbottom {
    margin-top: 15px
}
@media screen and (max-width: 980px) {
    .tabsViewup .intro8 {
        width: 100%
    }
}
@media screen and (max-width: 992px) {
    .modalVideo .modal-hd .closeB,
    .modalVideo .modal-hd h3 {
        font-size: 1rem
    }
}
.modalVideo {
    overflow: hidden
}
.modalVideo .modal-hd {
    padding: 0 15px;
    overflow: hidden
}
.modalVideo .modal-hd h3 {
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    float: left
}
.modalVideo .modal-hd .closeB {
    float: right;
    font-size: 2rem;
    font-weight: 700;
    padding: 20px 15px;
    position: absolute;
    right: 1rem
}
.modalVideo .modal-bd {
    clear: both
}
.modalVideo .video {
    z-index: 9999
}
.modalVideo .video-title {
    padding-bottom: 20px;
    width: 100%;
    display: none;
    z-index: 10000;
    position: absolute;
    background: #000;
    opacity: .6
}
.modalVideo:hover .video-title {
    display: block
}
.nav-label li select {
    line-height: 25px
}

/* remove 'X' for IE */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }