	<!-- rewrite url-->
    <div data-sly-use.plaConfig="${'com.bmw.digitalcn.aems2.sightly.RewriterConfig'}" data-sly-unwrap>
        <input type="hidden" id="shortenBase" value="${plaConfig.shortenBase}"/>
        <input type="hidden" id="shortenMapper" value="${plaConfig.rewriteMapper}"/>
    </div>
    <!-- tabs -->
        <sly data-sly-use.logic="logic.js" data-sly-unwrap/>
        <sly data-sly-test.ispath="${logic.detailPagePath}" data-sly-unwrap/>
        <div style="background-color:red"><p data-sly-test="${!ispath}">please first config detail page path</p></div>
        <div class="tabsNav">
            <div class="nav-type">
                <div class="wrapper">
                    <ul id="tabsItem">

                    </ul>
                </div>
            </div>
            <div class="nav-label">
                <ul>
                    <li class="carList-li">

                    </li>
                    <li><a class="labelcell" href="javascript:void(0)" onclick="newest()">最新视频</a>
                    </li>
                    <li><a class="labelcell" href="javascript:void(0)" onclick="hottest()">最热视频</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- tabs -->
        
        <!-- module2 - 2*3 start-->
        <div class="tabsViewbottom SA-sercice CAR-intro OW-littleSc littleSc">
            <div class="intro23 intro8 littleSc-intro">
                <ul id="tabsViewbottom1">

                </ul>
            </div>
        </div>
        <!-- module2 - 2*3 finished-->
        <!-- loadmore start-->
        <div class="search-loadmore">
            <hr class="loadline1">
            <div class="buttonmore">
                <a href="javascript:void(0)" onclick="loadMore()">加载更多</a>
            </div>
            <hr class="loadline2">
        </div>
        <!-- loadmore end-->
    <script type="text/javascript">
        // global var
        var currentPage = 0;
        var currentCount = 0;
        var INIT_VIDEOS_COUNT = 12;
        var LOADTYPE = {INIT:"init",LOADMORE:"loadmore"};
        var loadInfo = {class1:"0",class2:"0",class3:"0",orderBy:"newest"};
        //var PLAY_URL = "/content/index/detail.";
        var PLAY_URL = "${logic.detailPagePath @context = 'scriptString'}.";
		PLAY_URL = rewriteUrl(PLAY_URL);
        // clear tabs view content
        function clearTabsViewContent(){
            //$("#tabsViewup1").empty();
            //$("#tabsViewup2").empty();
            $("#tabsViewbottom1").empty();
        }
        // init videos
        function initVideos(data) {
            clearTabsViewContent();
            currentCount = 0;
            currentPage = 2;
            for(var videoIndex in data.videos) {
                if(videoIndex == "remove")
                    break;
                var vid = data.videos[videoIndex].vid;
                var url = PLAY_URL + "video_id=" + vid +".html";
                var bigThumbnail = data.videos[videoIndex].bigThumbnail;
                var title = data.videos[videoIndex].title;
                title = title.replace(/(_)|(-)/g,' ');
                var video_view = data.videos[videoIndex].video_view;
                $("#tabsViewbottom1").append("<li><span class='sap'><span class='picandsha' onclick=\"javascript:stm_clicki('send', 'event', '视频', '播放', 'channel');window.location.href='" + url + "'\" style='background:url(" +bigThumbnail+ ") no-repeat; background-size:100%;'><img src='/etc/designs/bmw-webtv/global/images/bmwTv/base-back.png' onclick=\"javascript:stm_clicki('send', 'event', '视频', '播放', 'channel');window.location.href='" + url + "'\" alt=''><span class='shadow-intro'><img src='/etc/designs/bmw-webtv/global/images/bmwTv/tra.png' onclick=\"javascript:stm_clicki('send', 'event', '视频', '播放', 'channel');window.location.href='" + url + "'\" alt=''></span></span><a href='javascript:void(0)'  onclick=\"javascript:stm_clicki('send', 'event', '视频', '播放', 'channel');window.location.href='" + url + "'\" >"+title+"</a> <p class='eye-r4'><i class='icon-11icon2-01'></i>"+video_view+"</p></span></li>");
                currentCount = currentCount + 1;
            }
            if(data.totalCount > INIT_VIDEOS_COUNT)
                $(".search-loadmore").show();
            else
                $(".search-loadmore").hide();
        }
        // load more
        function loadMoreVideos(data) {
            for(var videoIndex in data.videos) {
                if(videoIndex == "remove")
                    break;
                else {
                    var bigThumbnail = data.videos[videoIndex].bigThumbnail;
                    var title = data.videos[videoIndex].title;
                    title = title.replace(/(_)|(-)/g,' ');
                    var video_view = data.videos[videoIndex].video_view;
                    var vid = data.videos[videoIndex].vid;
                    //var class3num = data.video[videoIndex].class3num;
                    var url = PLAY_URL + "video_id=" + vid + ".html";
                    $("#tabsViewbottom1").append("<li><span class='sap'><span class='picandsha' onclick=\"javascript:stm_clicki('send', 'event', '视频', '播放', 'channel');window.location.href='" + url + "'\" style='background:url(" +bigThumbnail+ ") no-repeat; background-size:100%;'><img src='/etc/designs/bmw-webtv/global/images/bmwTv/base-back.png' onclick=\"javascript:stm_clicki('send', 'event', '视频', '播放', 'channel');window.location.href='" + url + "'\" alt=''><span class='shadow-intro'><img src='/etc/designs/bmw-webtv/global/images/bmwTv/tra.png' onclick=\"javascript:stm_clicki('send', 'event', '视频', '播放', 'channel');window.location.href='" + url + "'\" alt=''></span></span><a href='javascript:void(0)' onclick=\"javascript:stm_clicki('send', 'event', '视频', '播放', 'channel');window.location.href='" + url + "'\" >"+title+"</a> <p class='eye-r4'><i class='icon-11icon2-01'></i>"+video_view+"</p></span></li>");
                }
                currentCount = currentCount + 1;
            }
            if(data.totalCount > currentCount)
                $(".search-loadmore").show();
            else
                $(".search-loadmore").hide();

        };
        function loadMore() {
            stm_clicki('send', 'event', '视频', '加载更多','channel');
            currentPage = currentPage + 1;
            loadVideos(LOADTYPE.LOADMORE,loadInfo.class1,loadInfo.class2,loadInfo.class3,loadInfo.orderBy,currentPage,'6', 'more');
        }
        // load newest videos
        function newest() {
            stm_clicki('send', 'event', '视频', '最新视频', 'channel');
            loadInfo.orderBy = "newest";
            loadVideos(LOADTYPE.INIT,loadInfo.class1,loadInfo.class2,loadInfo.class3,loadInfo.orderBy,'1',INIT_VIDEOS_COUNT,"newest");
        };
        // load hottest videos
        function hottest() {
            stm_clicki('send', 'event', '视频', '最热视频', 'channel');
            loadInfo.orderBy = "hottest";
            loadVideos(LOADTYPE.INIT,loadInfo.class1,loadInfo.class2,loadInfo.class3,loadInfo.orderBy,'1',INIT_VIDEOS_COUNT,'hottest');
        };
        // init page videos
        function initPageVideos(class1,class2,class3,orderBy) {
            loadVideos(LOADTYPE.INIT,class1,class2,class3,orderBy,'1',INIT_VIDEOS_COUNT,'init');
        };
        // load videos
        function loadVideos(loadFlag,class1,class2,class3,orderBy,currentPage,count,callBackName) {
            if(class2==0){
                class2 = "";
            }
            if(class3==0){
                class3="";
            }
            var url = apiRoot+"/getVideosbyC?class1="+class1+"&class2="+class2+"&class3="+class3+"&orderBy="+orderBy+"&currentPage="+currentPage+"&count="+count;
            $.ajax({
                  url:url,
                  type:"get",
                  dataType:"jsonp",
                  jsonp: "callbackparam",
                  jsonpCallback: "CALLBACK",
                  success:function(response){
                        var data = response.responseBody;
                        if(data == null) {
                            alert("can not get videos by youku api");
                            return;
                        }
                        if(data.totalCount <= 0){
                            alert("no videos");
                            return;
                        } else {
                            if(loadFlag==LOADTYPE.INIT){
                                initVideos(data);
                            } else if(loadFlag==LOADTYPE.LOADMORE){
                                loadMoreVideos(data);
                            }
                        }
                  }
            });
        };

        function getQueryString(name)
        {
            //var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
              var reg = new RegExp("(^|.)"+ name +"=([^.]*)(.|$)");
            var r = decodeURI(window.location.pathname).match(reg);
            if(r!=null) {
                return r[2];
            }
            return null;
        };

        // init loadInfo by request parameters:class1,class2,class3
        function initLoadInfoByReqParam() {
            var tempClass1 = getQueryString("class1");
            if(tempClass1 !=null && tempClass1.toString().length>=1)
            {
                loadInfo.class1 = tempClass1;
            }
            var tempClass2 = getQueryString("class2");
            if(tempClass2 !=null && tempClass2.toString().length>=1)
            {
                loadInfo.class2 = tempClass2;
            }
            var tempClass3 = getQueryString("class3");
            if(tempClass3 !=null && tempClass3.toString().length>=1)
            {
                loadInfo.class3 = tempClass3;
            }
        };
        // init tabs
        function initTabs(data){
            if(data == null) {
                alert("can not get categories from youku api...");
                return;
            }
            // class1
            for(var c1Index in data) {
                if(c1Index == "remove")
                    break;
                if(data[c1Index].id != loadInfo.class1)
                    continue;
                else {
                    // 设置当前页面Title
                    document.title = data[c1Index].name;
                    var i = 0;
                    // class2
                    for(var c2Index in data[c1Index].children) {
                        if(c2Index == "remove")
                            break;
                        i++;
                        var tabid = data[c1Index].children[c2Index].id;
                        var tabname = data[c1Index].children[c2Index].name;
                        $("#tabsItem").append("<li><a href='javascript:void(0);' class='tabsclass"+tabid+"'>"+tabname+"</a></li>");
                        if(i == 1 && loadInfo.class2 == 0) {
                            loadInfo.class2 = tabid;
                            //loadInfo.orderBy = "newest";
                        }
                        // class3
                        var carlistHtml = "";
                        var j = 0;
                        for(var c3Index in data[c1Index].children[c2Index].children) {
                            if(c3Index == "remove")
                                break;
                            j++;
                            if(j == 1)
                                carlistHtml = "<Select class='carList tabsclass"+tabid+" hidden'><option value='car-"+tabid+"-0'>车系</option>";
                            var carid = "car-"+tabid+"-"+data[c1Index].children[c2Index].children[c3Index].id;
                            carlistHtml = carlistHtml + "<option value='"+carid+"'>"+data[c1Index].children[c2Index].children[c3Index].name+"</option>";
                        }
                        if(j > 0)
                            $(".carList-li").append(carlistHtml + "</Select>");
                    }
                    if(i > 0) { // display tabs plus
                        $("#tabsItem").parent().append("<button class='nav-plus'><a class='icon-11icon3-01'></a></button><button class='nav-minus nav-plus'><a class='icon-11uniE90A'></a></button>");
                    }
                }
            }
            initPageVideos(loadInfo.class1,loadInfo.class2,loadInfo.class3,loadInfo.orderBy);
        };
        function changeNavLabelColor() {
            if(loadInfo.orderBy == 'newest') {
                $(".tabsNav .nav-label li a").eq(0).css('color', '#0653b6'); //蓝色
                $(".tabsNav .nav-label li a").eq(1).css('color', '#262626'); //灰色
            } else {
                $(".tabsNav .nav-label li a").eq(0).css('color', '#262626'); //灰色
                $(".tabsNav .nav-label li a").eq(1).css('color', '#0653b6'); //蓝色
            }
        };
        //init tabsview       
        $(document).ready(function() {
            initLoadInfoByReqParam(); // init loadInfo
            $.ajax({
                  url:apiRoot+"/getVideosCategories?t=1",
                  type:"get",
                  dataType:"jsonp",
                  jsonp: "callbackparam",
                  jsonpCallback: "CALLBACK",
                  success:function(response){
                      var data = response.responseBody;
                      initTabs(data);
                        //Tabs点击时
                        $(".wrapper li").on('tap', function() {
                            stm_clicki('send', 'event', 'Channel菜单', '点击子频道', 'subchannel');
                            var liA = $(this).find('a');
                            //var hasChildren = false;
                            $(".carList-li").children().each(function(index,element){
                                if ($(element).hasClass(liA.attr('class'))) {
                                    $(element).show().removeClass('hidden');
                                    $(element)[0].selectedIndex = 0;
                                    //hasChildren = true;
                                } else {
                                    $(element).hide();
                                }
                            });
                            var class2 = ""+liA.attr('class');
                            class2 = class2.replace(/tabsclass/,"");
                            loadInfo.class2 = class2;
                            loadInfo.class3 = 0;
                            loadInfo.orderBy = "newest";
                            changeNavLabelColor();
                            loadVideos(LOADTYPE.INIT,loadInfo.class1,loadInfo.class2,loadInfo.class3,loadInfo.orderBy,'1',INIT_VIDEOS_COUNT, 'subchannel');
                        });
                    // 初始化页面时，如果tab菜单下有下拉列表则显示下拉列表
                    $(".carList-li").children().each(function(index,element){
                        if ($(element).hasClass("tabsclass" + loadInfo.class2)) {
                            $(element).show().removeClass('hidden');
                            $(element)[0].selectedIndex = 0;
                            //hasChildren = true;
                        } else {
                            $(element).hide();
                        }
                    });
                    $(".carList-li select").on('change', function() {
                        stm_clicki('send', 'event', 'Channel菜单', '选择车型', 'subchannel');
                        //loadInfo.class2 = class2;
                        loadInfo.class3 = $(this).children('option:selected').val().split('-')[2];
                        loadInfo.orderBy = "newest";
                        loadVideos(LOADTYPE.INIT,loadInfo.class1,loadInfo.class2,loadInfo.class3,loadInfo.orderBy,'1',INIT_VIDEOS_COUNT,'subchannel');
                    });
            
                    $(".nav-plus").on('click', function() {
                        $(".nav-plus").css('display', 'none');
                        $(".nav-minus").css('display', 'block');
                        $(".wrapper").css('height', 'auto');
                    });
                    $(".nav-minus").on('click', function() {
                        $(".nav-plus").css('display', 'block');
                        $(".nav-minus").css('display', 'none');
                        $(".wrapper").css('height', '5.5rem');
                    });
                    // 当前显示tab项文字变色
                    // navigator
                    $("#nav"+loadInfo.class1).css('color', '#0653b6'); //蓝色
                    // tabs
                    $(".wrapper li").find('a').each(function(index,element){
                        if ($(element).hasClass("tabsclass"+loadInfo.class2)) {
                            $(element).css('color', '#0653b6'); //蓝色
                        }
                    });
                    changeNavLabelColor();
                    // 点击文字变色
                    // tabs
                    $(".tabsNav .nav-type li").on('tap', function() {
                        $(".tabsNav .nav-type li a").css('color', '#262626');
                        $(".tabsNav .nav-type li a").eq($(this).index()).css('color', '#0653b6');
                    });
                    // orderby
                    $(".tabsNav .nav-label li a").on('tap', function() {
                        $(".tabsNav .nav-label li a").css('color', '#262626');
                        $(this).css('color', '#0653b6');
                    });
                    //自动加载页面更多
                    var scrollTime = true;
                    window.onscroll = function(){
                        if(scrollTime){
                             setTimeout(loadData,1000); 
                             scrollTime = false;
                        }
                    }
                    function loadData(){
                        var viewCon = $(".tabsViewbottom .littleSc-intro ul");//需要加载更多视频的容器
                        if($(window).scrollTop() > $(".buttonmore").offset().top - $(window).height()+80){
                            loadMore();
                        }
                        scrollTime = true; 
                    }
                  }
            });
        });

    </script>