<sly data-sly-use.video="search.js">
<div class="search-return">
        <a href="javascript:void(history.back())" ><i class="icon-11icon8-01"></i>返回上一级</a>
	</div>
	<div class="search-result SA-sercice CAR-intro search-result-littleSc SA-littleSc littleSc  tabsViewbottom">
        <div class="CAR-title littleSc-tit">
            <h2 class="car-tit littlesc-tit" id ="seachword"></h2>
        </div>
         <div class="intro23 intro8 littleSc-intro">
					<ul id="seach"></ul>
         </div>
    </div>
    <div class="search-loadmore">
        <hr class="loadline1"/> 
            <div class="buttonmore seachvideo" id = "${video}">
            <a onclick="add()">加载更多</a>
        </div>
        <hr class="loadline2"/> 
    </div>
</sly>

<script type="text/javascript">

			var srceenWidth = screen.width;
            var count = 12;
            if(srceenWidth < 980){
					count = 4;
            }

			var currentCount = 0;
			function getQueryString(name) { 
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
            var r = decodeURI(window.location.search.substr(1)).match(reg); 
            if (r != null) return unescape(r[2]); return null; 
            } 
			var keywords = getQueryString("keywords");
			var addkey = keywords;
            if( keywords==null){
				keywords="bmw";
            }

			$("#seachword").append("搜索结果");


 		var d = 2;
        $.ajax(
            {
                url:$('#apiRoot').text()+'/getVideosbyT',
                async:false,
                type:"get",
                dataType:"jsonp",
                jsonp: "callbackparam",
                jsonpCallback: "CALLBACKSearch",
                data:{keywords:keywords,currentPage:1,count:count},
                success:function(response){
                    var data = response.responseBody;
                    var video = data["videos"];
                    var items = [];
                    var count = parseFloat(data["totalCount"]);
                    //alert(count);
                    if(count<1){
                        $("#seachword").html("无搜索结果");
                    }
                    var seach = $(".seachvideo").attr("id");
                    for(var i in video){
                        var  videodata = video[i]; 
                        items[0] = videodata["vid"];
                        items[1] = videodata["class1num"];
                        items[2] = videodata["class2num"];
                        items[3] = seach;
                        var title = videodata["title"];
                        title = title.replace(/(_)|(-)/g,' ');
                       $("#seach").append("<li><span class='sap'   onclick='play(\""+items+"\")'><span class='picandsha' style='background:url("+videodata["bigThumbnail"]+") no-repeat; background-size:100%;'><img src='/etc/designs/bmw-webtv/global/images/bmwTv/base-back.png' alt='' ><span class='shadow-intro'><img src='/etc/designs/bmw-webtv/global/images/bmwTv/tra.png' alt='' ></span></span><a href='#'  >"+title+"</a><p class='eye-r4' ><i class='icon-11icon2-01'></i>"+videodata["video_view"]+"</p></span></li>");
                          currentCount = currentCount + 1;
                        if(i==video.length-1)break;

                    }
                     if(data.totalCount > currentCount)
                                         $(".search-loadmore").show();
                                         else
                                         $(".search-loadmore").hide();

                     }
            });


				function add(){
                    if( addkey!=null){
					d++;
					$.ajax({
                        url:apiRoot+'/getVideosbyT',
                        async:false,
                        type:"get",
                        dataType:"jsonp",
                        jsonp: "callbackparam",
                        jsonpCallback: "CALLBACKMore",
                        data:{keywords:addkey,currentPage:d,count:6},
            			success:function(response){
                            var data = response.responseBody;
							 var video = data["videos"]; 
                             var items = []; 
                			 var count = parseFloat(data["totalCount"]); 
							var seach = $(".seachvideo").attr("id");
                				for(var i in video){

                                                var  videodata = video[i]; 
                                                items[0] = videodata["vid"];
                                                items[1] = videodata["class1num"];
                                                items[2] = videodata["class2num"];
                                    			items[3] = seach;
												var title = videodata["title"];
												title = title.replace(/(_)|(-)/g,' ');
                                                $("#seach").append("<li><span class='sap'   onclick='play(\""+items+"\")'><span class='picandsha' style='background:url("+videodata["bigThumbnail"]+") no-repeat; background-size:100%;'><img src='/etc/designs/bmw-webtv/global/images/bmwTv/base-back.png' alt='' ><span class='shadow-intro'><img src='/etc/designs/bmw-webtv/global/images/bmwTv/tra.png' alt='' ></span></span><a href='#'  >"+title+"</a><p class='eye-r4' ><i class='icon-11icon2-01'></i>"+videodata["video_view"]+"</p></span></li>");
											  currentCount = currentCount + 1;
											if(i==video.length-1)break;
               					 }
                                     if(data.totalCount > currentCount)
                                     $(".search-loadmore").show();
                                     else
                                     $(".search-loadmore").hide();
							}
                    	});

              		  }
                     }


			  
        //自动加载页面更多
        var scrollTime = true;
        window.onscroll = function(){
            if(scrollTime){
                 setTimeout(loadData,1000); 
                 scrollTime = false;
            }
        } 
    
       function loadData(){
            var viewCon = $(".tabsViewbottom .littleSc-intro ul");//需要加载更多视频的容器
            //当页面滚动到加载更多时 测试超过30个不加载
               if($(window).scrollTop() > $(".buttonmore").offset().top - $(window).height()+80){
                    var viewCon = $(".tabsViewbottom .littleSc-intro ul");//需要加载更多视频的容器
                     add();
                }

            scrollTime = true; 
    
        };

</script>