<sly data-sly-use.video="detail.js">
<div class="search-return no-littleScren">
        <a href="javascript:void(history.back())"><i class="icon-11icon8-01"></i>返回上一级</a>
    </div>
    <!-- search-return end-->
    <!-- detailvideo start-->
    <div class="detail-video">
        <h2 class="video-tit no-littleScren" id="hh"></h2>
        <div class="youkuvideo" >
            <div id="youkuplayer" class="tv-play"></div>
        </div>
        <h2 class="video-tit4detailpage no-wideScren">BMW保险到期前免费检测</h2>
        <div class="youkufn" >
            <p class="playtimes" id="playtimes"></p>
            <div class="share" data-role="page">
                <p>分享到</p>
                <a id="icon_wx" class="icon-11icon5-01" title="分享到微信" href="javascript:void(0)"  ></a>
                <a id="icon_sina" class="icon-11icon6-01" title="分享到微博" href="javascript:void(0)"></a>
                <a id="icon_qq" class="icon-11qq" title="分享到空间" href="javascript:void(0)"></a>
                <a id="icon_douban" class="icon-11uniE90B" title="更多" href="javascript:void(0)"></a>
            </div>
        </div>
        <div class="search-return4detailpage no-wideScren">
            <i class="icon-11icon8-01"></i>
            <a href="#">返回上一级</a>
        </div>
    </div>
    <!-- detailvideo end-->
    <!-- Related Video start-->
    <div class="relatedvideo CAR-intro detailpage-littleSc OW-littleSc littleSc">
        <div class="CAR-title littleSc-tit">
            <h2 class="car-tit littlesc-tit detailvideo" id="${video}">相关视频</h2>
        </div>
        <div class="intro24 intro8 littleSc-intro">
             <ul id="detail"> 
            </ul>
        </div>
    </div>
</sly>
<script type="text/javascript" src="http://cdn.staticfile.org/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>   
<script type="text/javascript" >
			 var uid = GetQueryString("video_id");
             $.ajax(
                    {
                    type:"GET",
                    url:"https://openapi.youku.com/v2/videos/show.json",
                    data:{client_id:"2ec3bfc3ebeb4e28",video_id:uid},
                    dataType: "json",
                    success:function(data){
                    var view_count  = data["view_count"];
                    var title = data["title"];
                    title = title.replace(/(_)|(-)/g,' ');
           		    document.title = title;
                    $("#hh").append(title);
                    $(".no-wideScren").append(title);
                    $("#playtimes").append(view_count+"次播放");
                    }});
</script>
<script type="text/javascript" >

			//var class1num =parseInt(GetQueryString("class1"));
			//var class2num = parseInt(GetQueryString("class2"));
        $.ajax(
        	{
            url:$('#apiRoot').text()+'/getVideoInfo?vid='+GetQueryString("video_id"),
            type:"get",
            dataType:"jsonp",
            jsonp: "callbackparam",
            jsonpCallback: "CALLBACKDetail",
            success:function(response){
                var data = response.responseBody;
                loadRelatedVideos(data.class1,data.class2);
            }});
    
    function loadRelatedVideos (class1num,class2num){
        $.ajax(
        	{
            url:$('#apiRoot').text()+'/getVideosbyC',
            type:"get",
            dataType:"jsonp",
            jsonp: "callbackparam",
            jsonpCallback: "CALLBACKDetail",
 			 data:{class1:class1num,class2:class2num,orderBy:"newest",currentPage:1,count:8},
            success:function(response){
                var data = response.responseBody;
				var video = data["videos"];
				var items = [];
                var count = parseFloat(data["totalCount"]);
				var detail = $(".detailvideo").attr("id");
                for(var i in video){
                    var  videodata = video[i];
                    items[0] = videodata["vid"];
					items[1] =detail;
					var title = videodata["title"];
					title = title.replace(/(_)|(-)/g,' ');
                    $("#detail").append("<li><span class='sap'   onclick='play(\""+items+"\")'><span class='picandsha'><img src='"+videodata["bigThumbnail"]+"' alt='' ><span class='shadow-intro'><img src='/etc/designs/bmw-webtv/global/images/bmwTv/tra.png' alt='' ></span></span><a href='#'  >"+title+"</a><p class='eye-r4' ><i class='icon-11icon2-01'></i>"+videodata["video_view"]+"</p></span></li>");

					if(i==video.length-1)break;
                }

            }});
    }
    
</script>

<script type="text/javascript" >
(function() {

		var id = GetQueryString("video_id");

		var player1 = new YKU.Player('youkuplayer', {
            client_id: '2ec3bfc3ebeb4e28',
            vid: id,
            styleid: '1',
            height:'100%',
           	width:'100%',
            //newPlayer: true,
            //show_related: false,
            autoplay: true,
            events: {
                onPlayEnd: function() {},
                onPlayerReady: function() {},
                onPlayStart: function() {}

            }
        });


       function resizeTv(){
        	var tvPlay =  $('.tv-play');
            var tvHeight ;
            if(tvPlay.width()>980){
                tvHeight = tvPlay.width()/16*7;
            }else{
                tvHeight = tvPlay.width()/16*9;
            }
        	
        	//tvPlay.height(tvHeight);
        	//alert(tvHeight);
        	tvPlay.first().height(tvHeight);
        	//alert(tvPlay.first().html());
        	//tvPlay.find('object').height(tvHeight);
        	//tvPlay.find('div').height(tvHeight);
        };
        $(window).resize(function() {
            resizeTv();
        });
        
		window.onload = function() {
	        $(window).resize();
	    };

    })();


 (function() {
	var id = GetQueryString("video_id");
  		var title = "";
  		 $.ajax({
                 type:"GET",
                 url:"https://openapi.youku.com/v2/videos/show.json",
                 data:{client_id:"2ec3bfc3ebeb4e28",video_id:id},
                 dataType: "json",
                 success:function(data){

                  title = data["title"];
                  var url = window.location.href;
                    var videoQr  = new qrCode({
                        tar:$("#icon_wx"),
                        title:'分享到微信',
                        content_title:title,
                        url:url
                    });
                 }});


         $("#icon_sina").on("click", function() {
             shareLib.shareByName('icon_sina', {
                 sharetitle: title,
                 shareimg: '',
                 shareurl: 'http://v.youku.com/v_show/id_'+id+'.html',
                 sharetopic: '',
                 sharecontent: ''
             });
         });
    
         $("#icon_qq").on("click", function() {
             shareLib.shareByName('icon_qq', {
                 sharetitle: title,
                 shareimg: '',
                 shareurl: 'http://v.youku.com/v_show/id_'+id+'.html',
                 sharetopic: '',
                 sharecontent: ''
             });
         });
    
         $("#icon_douban").on("click", function() {
             shareLib.shareByName('icon_douban', {
                 sharetitle: title,
                 shareimg: '',
                 shareurl: 'http://v.youku.com/v_show/id_'+id+'.html',
                 sharetopic: '',
                 sharecontent: ''
             });
         });
         
        var shareLib = {
            shareByName: function(name, listObj) {
                var url = this.url;
                //var d;
                var o;
                o = shareLib.format(listObj.sharetitle, listObj.shareimg, listObj.shareurl, "", listObj.sharecontent);
                if (name == 'icon_sina') {
                    shareLib.shareSina(o);
                }
                if (name == 'icon_qq') {
                    shareLib.shareqq(o);
                }
                if (name == 'icon_douban') {
                    shareLib.sharedouban(o);
                }
                if (name == 'icon_wx') {
                    shareLib.sharedouban(o);
                }
            },
            format: function(t, p, l, c, d) {
                var shareobj = {};
                shareobj.t = t; //标题
                shareobj.p = p; //图片
                shareobj.l = l; //源地址
                shareobj.c = c; //话题
                shareobj.d = d; //详细描述
                return shareobj;
            },
            shareSina: function(o) {
                var param = {
                    url: o.l,
                    type: '3',
                    count: '1',
                    /**是否显示分享数，1显示(可选)*/
                    //appkey:'2434164281', /**您申请的应用appkey,显示分享来源(可选)*/
                    title: o.t + " " + o.d,
                    /**分享的文字内容(可选，默认为所在页面的title)*/
                    pic: o.p,
                    /**分享图片的路径(可选)*/
                    //ralateUid:'1935514892', /**关联用户的UID，分享微博会@该用户(可选)*/
                    language: 'zh_cn',
                    rnd: new Date().valueOf()
                };
                var temp = [];
                for (var p in param) {
                    temp.push(p + '=' + encodeURIComponent(param[p] || ''));
                }
                window.open("http://service.weibo.com/share/share.php?" + temp.join('&'), "_blank", "width=615,height=505");
            },
            shareqq: function(o) {
                var _url = encodeURIComponent(o.l);

                var _pic = encodeURI(o.p); //（例如：var _pic='图片url1|图片url2|图片url3....）
                var _t = o.t; //标题和描述信息

                _t = _t + " " + o.d; //请在这里添加你自定义的分享内容
                if (_t.length > 120) {
                    _t = _t.substr(0, 117) + '...';
                }
                _t = encodeURIComponent(_t);
                var _u = 'http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=' + _url + '&summary=BMW中国&pics=' + _pic + '&title=' + _t;
                window.open(_u, '', 'width=700, height=680, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, location=yes, resizable=no, status=no');
            },
            sharedouban: function(o) {
                var param = {
                    url: o.l,
                    title: o.t + " " + o.d,
                    /**分享的文字内容(可选，默认为所在页面的title)*/
                    image: o.p,
                    /**分享图片的路径(可选)*/
                    sel: o.d,
                    v: 1
                };
                var temp = [];
                for (var p in param) {
                    temp.push(p + '=' + encodeURIComponent(param[p] || ''));
                }
                window.open("http://www.douban.com/recommend/?" + temp.join('&'), "_blank", "width=615,height=505");
            }

        };

    })();
</script>
