<div class="somelinks" data-sly-use.footlogic="footlogic.js">
     <div data-sly-resource="${ @path='footnav', resourceType='bmw-webtv/parComponent/footnav'}" data-sly-unwrap/>
      <div data-sly-resource="${ @path='linksPar', resourceType='foundation/components/parsys'}"></div>
 </div>
 <div class="QRcode">
      <!--<ul>
          <li>
              <sly data-sly-resource="${ @path='qr1', resourceType='wcm/foundation/components/image'}" data-sly-unwrap/>
              <p>关注宝马中国微信</p>
          </li>
          <li class="qr2">
              <sly data-sly-resource="${ @path='qr2', resourceType='wcm/foundation/components/image'}" data-sly-unwrap/>
              <p>关注宝马中国微博</p>
          </li>
       </ul>   -->

       <ul>
           <li>
               <img src="/content/dam/bmw/marketCN/bmw_com_cn/BMW-WebTV/logo/qr1.jpg" alt="">
               <p>关注宝马中国微信</p>
           </li>
           <li class="qr2">
               <img src="/content/dam/bmw/marketCN/bmw_com_cn/BMW-WebTV/logo/qr2.jpg" alt="">
               <p>关注宝马中国微博</p>
           </li>
         </ul>
 </div>
 			<div class="thirdparty">
                <a href="javascript:void(0);" class="wx-china"><i class="icon icon-wechat"></i>关注宝马中国微信</a>
                <a href="http://weibo.com/bmwchina" target="_blank"><i class="icon icon-sina"></i>关注宝马中国微博</a>
            </div>
<br style="clear:both;"></br>


<script type="text/javascript">
    (function(){
         var imagepath = "/content/dam/bmw/marketCN/bmw_com_cn/BMW-WebTV/logo/qr1.jpg";
         var videoQr  = new qrCode({
            tar:$(".thirdparty .wx-china"),
            title:'关注宝马中国微信',
            content_title:'',
            content:'<img src="'+imagepath+'" alt="">'
       	 });
         window.onresize =function(){
                if($(window).width()>520){
                    $(".close-x").click();
                };
            }

    })();
</script>
