<div data-sly-use.webtvComponent="WebTVApiComponent">
    <span id="apiRoot" hidden>${webtvComponent.webtvApiUrl}</span>
</div>
<input id = "showLogo" value ="${currentPage.listChildren}" hidden />
<div class="navbar navbar-inverse" >
    <div class="container">
         <div class="navbar-header">
            <button class="navbar-toggle collapsed  icon-11icon7-01" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            </button>
            <button class="searchButton navbar-toggle collapsed icon-11icon4-01" type="submit"></button>
        </div>
        <div class="navbar-collapse collapse container" role="navigation" data-sly-resource="${ @path='topnav', resourceType='bmw-webtv/parComponent/topnav'}"/></div>

        <div class="navbar-logo">
                <div class="logo-littlepage">
                    <!--<sly data-sly-resource="${ @path='logo1', resourceType='wcm/foundation/components/image'}"/>-->
                    <img src="/content/dam/bmw/marketCN/bmw_com_cn/BMW-WebTV/logo/bmw-logo.png" alt="">
                </div>
         </div>
    </div>
</div>

<div class="searchforresult" data-sly-use.searchPath="headerarea.js">
    <input type="search" name="user_search" placeholder="搜索"  id="myinp"/>
        <button class="icon-11icon4-01" type="submit" onclick="submit('${searchPath @context = 'scriptString'}')" id="seachButton"></button>
    <button class="seachClose icon-11uniE909" onclick="hideSearchForResult()"></button>
</div>

<script>

        if(!$("#showLogo").val()){
	      $(".navbar-logo").addClass("no-littleScren");
    }
</script>